body {
  margin: 0;
  padding: 0;
}

div {
  overflow: hidden;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: start;
}
.containers > * {
  width: 100%;
}
.grid {
  border: 1px solid gray;
  background-color: #9cc;
}

.grid:before {
  content: "";
  float: left;
  padding-top: 100%;
}
.active {
  background-color: red;
}
